@font-face {
    font-family: 'pixel';
    src: url('/src/assets/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "pixel", sans-serif;
    ::placeholder{
        font-size: 12px;
    }
}